.boss{
   
    background-color:white ;
}
body{
font-family: 'Open Sans', sans-serif;}
nav{
    display: flex ;
    align-items: center;
    justify-content:space-between;
    margin: 0 200px;
    background-image: url("../mod-5/img/bck.png");
}
.tonmoy-1{
    color: #181818;
    font-size: 20px;
    font-weight: 800;
}
.color{
    color: #FD6E0A;
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 80px;
}
nav a
{ text-decoration:none;
  color: #474747; }

.but{ border-radius: 5px;
    background-color:#FD6E0A;
  color:#ffff; font-size: 20px; font-weight: 700;
  border: 0; padding: 18px 35px ;
  }
  .banner{
    padding: 30px 30px 0 150px ;
    display: flex; 
    align-items: center;
  }
  .banner .t{
    width: 500px ;
  }

  .about{
    padding: 130px; border-radius: 10px;
    background: #f0ded2; margin: 130px 0;
  }
  main{
    max-width: 1140px;
   margin: 0 auto;
  }
  .details{
    display: flex;
    justify-content: space-around;
  }
  .about-info{
    text-align: center;
  }
  #what{
    padding: 30px 150px;
  }
  .skill-tl{
    display: flex;
    gap: 24px;
  }
  .skill{
    padding: 30px;
    
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  }
  .skill-description{ color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

  }

  .resume-column-title{
    color:  #474747;
font-size: 30px;
font-weight: 700;
  }
  .resume-lt{
    display: flex;
    gap: 70px;

  }
  .resumi-title-item{
    color:  #474747;
font-size: 25px;
font-weight: 700;
margin: 30px 0 10px ;
margin: 30px 0 10px ;
  
  }
  .resume-item-institute{
    color: #757575;
font-size: 20px;
font-weight: 600;
margin: 10px 0 20px ;
  }
  .resume-item-disk
  {
    color:  #757575;
font-size: 16px;
font-weight: 400;
line-height: 28px;
margin: 0 0 30px 0;
  }
  .download-cv{
    text-align: center;
    margin: 50px 0 0 0 0;
  }
  .fot{
    color:  #474747;
font-size: 16px;
font-weight: 400;
line-height: 28px /* 175% */
  }
  footer{
    display: flex;
    padding:  130px 230px 130px 230px;
    gap: 100px;
  }
 .tiger{
  width: 50%;

 }

 .tiger a{
  margin-right: 25px;;
 }
 .contact-input input[type="text"], .contact-input input[type="email"], textarea
 { display: block; margin-bottom: 25px; padding: 18px 35px;
  color: #757575; border-radius: 5px; background: #FFF; border: 0; width: 100%;

 }